<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/bwt-datatable/bwt-datatable.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/cells-molecule-transaction-list-item/cells-molecule-transaction-list-item.html">


<link rel="import" href="../app-data.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/app-layout/app-grid/app-grid-style.html">


<!--display: block;
        padding: 10px;-->
<dom-module id="transactions-table">
    <template>
        <style include="shared-styles app-grid-style">
            :host {
                --app-grid-columns: 3;
                --app-grid-item-height: 100px;
            }

            .loading {
                position: fixed;
                z-index: 999;
                height: 2em;
                width: 2em;
                overflow: show;
                margin: auto;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
        </style>

        <template is="dom-repeat" items="[[transactions]]" as="item">
            <cells-molecule-transaction-list-item transaction="[[item]]"></cells-molecule-transaction-list-item>
        </template>
        <div class="wrapper-btns">
                <paper-button raised class="primary" dialog-confirm on-tap="postRegister">Accept</paper-button>
                <paper-button class="link" dialog-dismiss on-tap="clearLogin">Decline</paper-button>
            </div>

    </template>

    <script>
        class TransactionsTable extends Polymer.Element {
            static get is() { return 'transactions-table'; }
            static get properties() {
                return {
                    transactions: {
                        type: Object
                    },
                    pageSize: Number,
                    currentPage: {
                        type: Number,
                        value: 0
                    }
                }
            }
        }

        window.customElements.define(TransactionsTable.is, TransactionsTable);
    </script>
</dom-module>