<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/bwt-datatable/bwt-datatable.html">
<link rel="import" href="../bower_components/bwt-datatable/bwt-datatable-column.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../bower_components/neon-animation/neon-animations.html">

<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/google-map/google-map.html">

<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/fade-out-animation.html">

<link rel="import" href="../bower_components/google-chart/google-chart.html">

<link rel="import" href="app-data.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/app-layout/app-grid/app-grid-style.html">


<dom-module id="accounts-page">
  <template>
    <style include="shared-styles app-grid-style">
      :host {
        --app-grid-columns: 3;
        --app-grid-item-height: 100px;
        --paper-tabs-selection-bar-color: #4285f4;
      }

      .loading {
        position: fixed;
        z-index: 999;
        height: 2em;
        width: 2em;
        overflow: show;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }

      google-map {
        display: block;
        height: 400px;
        width: 600px;
      }

      google-chart {
        display: block;
        height: 400px;
        width: 600px;
      }
    </style>

    <!-- local storage para usuario -->
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <!-- elemento custom para mantener la info del usuario entre páginas -->
    <app-data key="userData" data="{{storedUser}}"></app-data>

    <!-- query para descargar los movimientos de una cuenta -->
    <iron-ajax id="queryTransactionsAjax" url$="http://localhost:4000/accounts/[[selectedItem.accountId]]" headers$='{"user": "{{storedUser.username}}"}'
      handle-as="json" on-response="handleResponse" last-response="{{accountsNode}}" debounce-duration="300"></iron-ajax>
    <!-- query para descargar el balance de movimientos de una cuenta -->
    <iron-ajax id="queryBalanceAjax" url$="http://localhost:4000/accounts/[[selectedItem.accountId]]/balance" headers$='{"user": "{{storedUser.username}}"}'
      handle-as="json" on-response="handleBalanceResponse" last-response="{{accountBalance}}" debounce-duration="300"></iron-ajax>
    <!-- query para descargar las cuentas de un usuario -->
    <iron-ajax id="queryAccounts" auto url="http://localhost:4000/accounts" headers$='{"user": "{{storedUser.username}}"}' handle-as="json"
      on-response="getAccounts" last-response="{{accounts}}" debounce-duration="300"></iron-ajax>
    <!-- query para añadir una cuenta a un usuario -->
    <iron-ajax id="createAccountRequest" url="http://localhost:4000/accounts" headers$='{"user": "{{storedUser.username}}"}'
      method="post" content-type="application/json" handle-as="text" debounce-duration="300" on-response="queryAccounts"></iron-ajax>
    <!-- query para buscar la localización de un movimiento -->
    <iron-ajax id="queryTransactionLocation" url$="http://localhost:4000/accounts/[[selectedItem.accountId]]/transactions/[[selectedTransaction.transactionId]]/locations"
      headers$='{"user": "{{storedUser.username}}"}' handle-as="json" on-response="handleLocationResponse" last-response="{{location}}"
      debounce-duration="300"></iron-ajax>
    <!-- query para añadir un movimiento a una cuenta-->
    <iron-ajax id="addTransactionRequest" url="http://localhost:4000/accounts/[[selectedItem.accountId]]/transactions" headers$='{"user": "{{storedUser.username}}"}'
      method="post" content-type="application/json" handle-as="text" debounce-duration="300" on-response="queryTransactions"></iron-ajax>

    <!-- ocultamos si el usuario no está logado -->
    <div hidden$="[[!storedUser.loggedin]]">
      <!-- modal para mostrar el mapa de localización del movimiento -->
      <paper-dialog entry-animation="scale-up-animation" exit-animation="fade-out-animation" id="mapModal">
        <google-map api-key="AIzaSyBEoFbTwky926HX6kuORq9H8MhWFQ12Axw" longitude="[[location.coordinates.longitude]]" latitude="[[location.coordinates.latitude]]">
          <google-map-marker id="map" longitude="[[location.coordinates.longitude]]" latitude="[[location.coordinates.latitude]]" title="[[selectedTransaction.concept]]"
            draggable="false"></google-map-marker>
        </google-map>
        <div class="wrapper-btns">
          <paper-button raised class="primary" dialog-confirm autofocus>Accept</paper-button>
        </div>
      </paper-dialog>

      <!-- modal para mostrar el balance de la cuenta -->
      <paper-dialog entry-animation="scale-up-animation" exit-animation="fade-out-animation" id="graphModal">
        <google-chart type='line' options='{"title": "Distribution of days in 2001Q1", axisTitlesPosition:"none", hAxis: {textPosition: "in"}, vAxis: {textPosition: "in"}}'
          data='{{chartData}}'>
        </google-chart>
        <div class="wrapper-btns">
          <paper-button raised class="primary" dialog-confirm autofocus>Accept</paper-button>
        </div>
      </paper-dialog>

      <!-- card para mostrar la lista de cuentas -->
      <div class="cardSmall">
        <paper-tabs selected="{{selectedTab}}">
          <paper-tab>Account Info</paper-tab>
          <paper-tab>Create Account</paper-tab>
        </paper-tabs>
        <iron-pages selected="{{selectedTab}}">
          <div>
            <div>Select your account: </div>
            <div>
              <paper-dropdown-menu label="Accounts" id="accountsListMenu">
                <paper-listbox slot="dropdown-content" selected="{{selectedAccountIndex}}">
                  <template is="dom-repeat" items="[[accounts]]" as="account">
                    <paper-item>[[account.accountId]]</paper-item>
                  </template>
                </paper-listbox>
              </paper-dropdown-menu>
            </div>
          </div>
          <div>
            <div>Create a new account with just one click!</div>
            <div class="wrapper-btns">
              <paper-button raised class="primary" autofocus on-tap="doCreateAccount">Create Account</paper-button>
            </div>
          </div>
        </iron-pages>
      </div>

      <!-- card con detalles de la cuenta seleccionada -->
      <div class="cardSmall" hidden$="{{loading}}">
        <div>Account Information </div>
        <div>
          <template is="dom-repeat" items="[[accountBalance]]" as="balance">
            <paper-icon-item>
              <paper-icon-button slot="item-icon" icon="timeline" on-tap="showExpensesGraph" data-item$=[[balance._id]]></paper-icon-button>
              <paper-item-body two-line>
                <div>Your balance in [[balance._id]]</div>
                <div secondary>
                  <b>[[balance.totalAmount]]</b>
                </div>
              </paper-item-body>
            </paper-icon-item>
          </template>
        </div>

      </div>

      <!-- loading -->
      <!-- <div hidden$="{{!loading}}">
        <paper-spinner active class="loading">...</paper-spinner>
      </div> -->

      <!-- lista de movimientos asociados a la cuenta -->
      <div class="cardSmall" hidden$="{{loading}}">
        <div hidden$="{{loading}}">
          <paper-tabs selected="{{selectedTabTransactions}}">
            <paper-tab>Transaction Information</paper-tab>
            <paper-tab>Add a new Transaction</paper-tab>
          </paper-tabs>
          <iron-pages selected="{{selectedTabTransactions}}">
            <!-- pagina 1-->
            <div>
              <div>Your account [[selectedItem.accountId]] transactions</div>
              <template is="dom-repeat" items="[[accountsNode.accounts]]" as="accounts">
                <paper-datatable data="[[accounts.transactions]]" header-fixed page-size="10">
                  <paper-datatable-column draggable-column header="Concept" property="concept">
                    <template>
                      <span>{{value}}</span>
                    </template>
                  </paper-datatable-column>
                  <paper-datatable-column draggable-column header="Amount" property="localAmount">
                    <template>
                      <span>{{value.amount}} {{value.currency}}</span>
                    </template>
                  </paper-datatable-column>
                  <paper-datatable-column draggable-column header="Date" property="availableDate">
                    <template>
                      <span>{{value}}</span>
                    </template>
                  </paper-datatable-column>
                  <paper-datatable-column header="Status" property="status">
                    <template>
                      <span>{{value.value}}</span>
                    </template>
                  </paper-datatable-column>
                </paper-datatable>
              </template>
            </div>
            <!-- pagina 2-->
            <div>
              <div>Add a new transaction to your account [[selectedItem.accountId]]</div>
              <paper-input label="Amount" type="number" value="{{addedTransaction.amount}}" auto-validate required></paper-input>
              <paper-input label="Currency" type="text" value="{{addedTransaction.currency}}" required></paper-input>
              <paper-input label="Concept" type="text" value="{{addedTransaction.concept}}" required></paper-input>
              <paper-input label="Location Description" type="text" value="{{addedTransaction.store}}"></paper-input>
              <div class="wrapper-btns">
                <paper-button raised class="primary" autofocus on-tap="addNewTransaction">Add Transaction</paper-button>
              </div>

            </div>
          </iron-pages>
        </div>
      </div>
    </div>

    <!-- texto que se muestra en caso de que el usuario no esté logado -->
    <div class="cardSmall" hidden$="[[storedUser.loggedin]]">
      <p>You must
        <a href="/register-login">log in</a> to access your accounts!</p>
    </div>
  </template>

  <script>
    class AccountsPage extends Polymer.Element {
      static get is() { return 'accounts-page'; }
      static get properties() {
        return {
          accountsNode: {
            type: Object
          },
          accounts: {
            type: Array
          },
          loading: {
            type: Boolean,
            value: true
          },
          selectedItem: {
            type: Object
          },
          selectedAccountIndex: {
            type: Number,
            notify: true
          },
          accountBalance: {
            type: Array
          },
          chartData: Array,
          addedTransaction: {
            type: Object,
            value: {}
          },
          location: {
            type: Object,
            value: {
              coordinates: {
                latitude: 40.5028328,
                longitude: -3.6651113
              }
            }
          },
          selectedTab: {
            type: Number,
            value: 0
          },
          selectedTabTransactions: {
            type: Number,
            value: 0
          },
          selectedTransaction: Object,
          defaultLocation: {
            type: Object,
            value: {}
          }
        }
      }

      ready() {
        super.ready();
        this.addEventListener('row-tap', this.rowTap);
        this.addEventListener('selected-account-index-changed', this.queryTransactions);
        // obtenemos las coordinadas 
        navigator.geolocation.getCurrentPosition(function (position) {
          this.defaultLocation = { latitude: position.coords.latitude, longitude: position.coords.longitude };
        }, function () {
          console.log("Error getting web location");
        });
      }

      getAccounts(data) {
        this.accounts = data.detail.response.accounts;
      }

      queryTransactions(event) {
        this.selectedItem = this.accounts[this.selectedAccountIndex];
        this.$.queryTransactionsAjax.generateRequest();
        this.$.queryBalanceAjax.generateRequest();
      }

      rowTap(event) {
        this.selectedTransaction = event.detail.item;
        this.$.queryTransactionLocation.generateRequest();
      }

      handleResponse(data) {
        this.accountsNode = data.detail.response;
        this.loading = false;
      }

      handleBalanceResponse(data) {
        this.accountBalance = data.detail.response;
      }

      showExpensesGraph(event) {
        var currency = event.target.dataset.item;
        var data = [["day", "expense"]];
        for (var i = 0; i < this.accountsNode.accounts[0].transactions.length; i++) {
          if (this.accountsNode.accounts[0].transactions[i].localAmount.currency == currency) {
            data.push([this.accountsNode.accounts[0].transactions[i].availableDate, this.accountsNode.accounts[0].transactions[i].localAmount.amount]);
          }
        }
        this.chartData = data;
        this.$.graphModal.open();
      }

      handleLocationResponse(data) {
        this.location = data.detail.response;
        if (data.detail.response) {
          this.$.map.latitude = this.location.coordinates.latitude;
          this.$.map.longitude = this.location.coordinates.longitude;
        } else {
          this.$.map.latitude = this.defaultLocation.latitude;
          this.$.map.longitude = this.defaultLocation.longitude;
        }
        this.$.mapModal.open();
      }

      doCreateAccount() {
        var accountId = this.makeid(8);
        var accountNumber = this.makeidNumber(4);
        var accounts = {
          "accountId": accountId,
          "description": "BBVA CREDIT ACCOUNT",
          "number": accountNumber,
          "transactions": []
        }
        this.$.createAccountRequest.body = { accounts };
        this.$.createAccountRequest.generateRequest();
      }

      queryAccounts() {
        this.$.queryAccounts.generateRequest();
      }

      makeid(length) {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
        for (var i = 0; i < length; i++)
          text += possible.charAt(Math.floor(Math.random() * possible.length));

        return text;
      }

      makeidNumber(length) {
        var text = "";
        var possible = "0123456789";
        for (var i = 0; i < length; i++)
          text += possible.charAt(Math.floor(Math.random() * possible.length));

        return text;
      }

      addNewTransaction() {
        var id = this.makeid(7);
        var utc = new Date().toJSON().slice(0, 10);
        var description = this.accountsNode.accounts[0].description;
        var amount = parseFloat(this.addedTransaction.amount);
        var currency = this.addedTransaction.currency;
        var concept = this.addedTransaction.concept;
        var store = this.addedTransaction.store;

        var transaction = {
          "transactionId": id,
          "localAmount": {
            "amount": amount,
            "currency": currency
          },
          "concept": concept,
          "description": {
            "value": description,
            "masked": false
          },
          "availableDate": utc,
          "name": store,
          "status": {
            "value": "Confirmada",
            "class": ""
          }
        }

        this.$.addTransactionRequest.body = transaction;
        this.$.addTransactionRequest.generateRequest();
        this.addedTransaction = {};
      }
    }

    window.customElements.define(AccountsPage.is, AccountsPage);
  </script>
</dom-module>