<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<link rel="import" href="app-data.html">
<link rel="import" href="shared-styles.html">

<dom-module id="home-techu">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      .bgimg {
        background: url('https://s3-eu-west-1.amazonaws.com/usr25-demobucket/techuWelcome.jpg') no-repeat center center;
        height: auto;
        left: 0;
        margin: 0;
        min-height: 100%;
        min-width: 674px;
        position: fixed;
        padding: 0;
        top: 0;
        width: 100%;
        z-index: -1;
      }
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>

    <app-data key="userData" data="{{storedUser}}"></app-data>

    <iron-ajax id="getQuoteAjax" auto url="https://talaikis.com/api/quotes/random/" method="get" handle-as="text" last-response="{{quote}}"></iron-ajax>

    <!-- imagen -->
    <div class="bgimg"/>

    <!-- <div class="cardMedium">
      <h1>Quotes</h1>
      <blockquote>[[quote]]</blockquote>
      <paper-button raised on-tap="getQuote" class="primary">Get a New Quote</paper-button>
    </div>  -->

    
  </template>

  <script>
    class HomeTechu extends Polymer.Element {
      static get is() { return 'home-techu'; }
      getQuote() {
        this.$.getQuoteAjax.generateRequest();
      }
    }

    window.customElements.define(HomeTechu.is, HomeTechu);
  </script>
</dom-module>