<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="app-data.html">
<link rel="import" href="shared-styles.html">

<dom-module id="register-login">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
            .wrapper-btns {
                margin-top: 15px;
            }
            paper-button.link {
                color: #757575;
            }
            .alert-error {
                background: #ffcdd2;
                border: 1px solid #f44336;
                border-radius: 3px;
                color: #333;
                font-size: 14px;
                padding: 10px;
            }
        </style>

        <iron-ajax id="registerLoginAjax" method="post" content-type="application/json" handle-as="text" on-response="handleUserResponse"
            on-error="handleUserError"></iron-ajax>
        <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
        <app-data key="userData" data="{{storedUser}}"></app-data>

        <div class="cardSmall">
            <div id="unauthenticated" hidden$="{{storedUser.loggedin}}">
                <h1>Log In</h1>
                <p>
                    <strong>Log in</strong> or
                    <strong>sign up</strong> to access your account!
                </p>
                <template is="dom-if" if="[[error]]">
                    <p class="alert-error">
                        <strong>Error:</strong> [[error]]</p>
                </template>
                <paper-input id="username" label="Username" type="text" value="{{formData.username}}"></paper-input>
                <paper-input id="password" label="Password" type="password" value="{{formData.password}}"></paper-input>
                <div class="wrapper-btns">
                    <paper-button raised class="primary" on-tap="doLogin">Log In</paper-button>
                    <paper-button class="link" on-tap="showRegister">Sign Up</paper-button>
                </div>
            </div>
            <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
                <h2>Hello, [[storedUser.username]]!</h2>
                <p>You are currently logged in. You can access your
                    <a href="/accounts-page">Accounts</a>!</p>
            </div>
        </div>
        <app-location route="{{route}}"></app-location>
    </template>

    <script>
        Polymer({
            is: 'register-login',
            properties: {
                formData: {
                    type: Object,
                    value: {}
                },
                registerData: {
                    type: Object,
                    value: {}
                },
                storedUser: Object,
                error: String
            },

            
            _setReqBody: function () {
                this.$.registerLoginAjax.body = this.formData;
            },
            doLogin: function () {
                this.$.registerLoginAjax.url = 'http://localhost:4000/login';
                this._setReqBody();
                this.$.registerLoginAjax.generateRequest();
            },
            handleUserResponse: function (event) {
                this.storedUser = {
                    username: this.formData.username,
                    id_token: 'idtoken',
                    access_token: 'response.access_token',
                    loggedin: true
                };
                this.set('route.path', '/accounts-page');
                // reset form data
                this.formData = {};
            },
            handleUserError: function (event) {
                if (event.detail.request.xhr.response) {
                    this.error = event.detail.request.xhr.response;
                } else {
                    this.error = "Error logging in, please try again later";
                }
            },
            clearLogin: function() {
                this.registerData = null;
            },
            showRegister: function () {
                this.set('route.path', '/sign-up');
                // reset form data
                this.formData = {};
            }
        })
        window.customElements.define(RegisterLogin.is, RegisterLogin);
    </script>
</dom-module>