<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      .card {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .cardMedium {
        margin: 24px auto 24px;
        padding: 16px;
        color: #757575;
        border-radius: 2px;
        background-color: #fff;
        max-width: 60%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .cardMediumRight {
        margin: 24px auto 24px;
        padding: 16px;
        color: #757575;
        border-radius: 2px;
        background-color: #fff;
        max-width: 60%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        
      }

      .cardSmall {
        margin: 24px auto 24px;
        padding: 16px;
        color: #757575;
        border-radius: 2px;
        background-color: #fff;
        max-width: 45%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .welcomeMessage {
        margin: 0 auto;
        padding: 16px;
      }

      .child {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 30%;
        width: 50%;
        margin: -15% 0 0 -25%;
      }

      :root {
        --primary-color: #4285f4;
      }

      a,
      paper-button {
        font-weight: bold;
      }

      a {
        color: var(--primary-color);
      }

      paper-button {
        color: #fff;
      }

      paper-button.primary {
        background: var(--primary-color);
      }

      blockquote {
        border-left: 4px solid #eee;
        margin-left: 4px;
        padding-left: 20px;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }
    </style>
  </template>
</dom-module>