<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="app-data.html">
<link rel="import" href="shared-styles.html">

<dom-module id="sign-up">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }

            .wrapper-btns {
                margin-top: 15px;
            }

            paper-button.link {
                color: #757575;
            }

            .alert-error {
                background: #ffcdd2;
                border: 1px solid #f44336;
                border-radius: 3px;
                color: #333;
                font-size: 14px;
                padding: 10px;
            }
        </style>


        <iron-ajax id="registerLoginAjax" method="post" content-type="application/json" handle-as="text" on-response="handleUserResponse"
            on-error="handleUserError"></iron-ajax>
        <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
        <app-data key="userData" data="{{storedUser}}"></app-data>

        <div class="cardSmall">
            <h1>Sign Up</h1>
            <p>
                <strong>sign up</strong> to access your account!
            </p>
            <template is="dom-if" if="[[error]]">
                <p class="alert-error">
                    <strong>Error:</strong> [[error]]</p>
            </template>
            <paper-input id="username" label="Username *" type="text" value="{{registerData.username}}" required auto-validate></paper-input>
            <paper-input id="name" label="Name *" type="text" value="{{registerData.name}}" required auto-validate></paper-input>
            <paper-input id="surname" label="Surname *" type="text" value="{{registerData.surname}}" required auto-validate></paper-input>
            <paper-input id="mail" label="Email *" type="email" value="{{registerData.email}}" required auto-validate></paper-input>
            <paper-input id="password" label="Password *" type="password" value="{{registerData.password}}" required auto-validate ></paper-input>
            <paper-input id="passwordBis" label="Re-enter Password *" type="password" value="{{registerData.passwordBis}}" on-change="passmatch" required auto-validate></paper-input>
            <div class="wrapper-btns">
                <paper-button id="doLoginBttn" raised class="primary" on-tap="doRegister">Accept</paper-button>
                <paper-button class="link" on-tap="clearLogin">Decline</paper-button>
            </div>
        </div>
        <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
            <h2>Hello, [[storedUser.username]]!</h2>
            <p>You are currently logged in. You can access your
                <a href="/accounts-page">Accounts</a>!</p>
        </div>
        <app-location route="{{route}}"></app-location>
    </template>

    <script>
        class SignUp extends Polymer.Element {
            static get is() { return 'sign-up'; }
            static get properties() {
                return {
                    registerData: {
                        type: Object,
                        value: {}
                    },
                    storedUser: Object,
                    error: String                    
                }
            }
            passmatch (e){
                var password = this.registerData.password;
                var confirmPassword = this.registerData.passwordBis;
                if(password && confirmPassword && password == confirmPassword) {
                    this.$.doLoginBttn.class = "primary";
                    this.$.doLoginBttn.disabled = false;
                    return true;
                } else {
                    this.$.doLoginBttn.class = "disabled";
                    this.$.doLoginBttn.disabled = false;
                    return false;
                }
            }
            _setReqBody() {
                this.$.registerLoginAjax.body = this.registerData;
            }
            doRegister() {
                if (!this.registerData.username || !this.passmatch()) {
                    this.error = "Fill in all the required fields. Check that password matches";
                } else {
                    this.$.registerLoginAjax.url = 'http://localhost:4000/register';
                    this._setReqBody();
                    this.$.registerLoginAjax.generateRequest();
                }
            }
            handleUserResponse(event) {
                this.storedUser = {
                    username: this.registerData.username,
                    id_token: 'idtoken',
                    access_token: 'response.access_token',
                    loggedin: true
                };
                this.set('route.path', '/accounts-page');
                // reset form data
                this.registerData = {};
            }
            handleUserError(event) {
                this.error = event;
            }
            clearLogin() {
                // reset form data
                this.registerData = {};
                this.set('route.path', '/register-login');
            }
        }

        window.customElements.define(SignUp.is, SignUp);
    </script>
</dom-module>